<?xml version='1.0' encoding='UTF-8'?>
<beans>
    <bean id="ProductDao" class="impl.ProductDaoImpl"/>
    <bean id="UserDao" class="impl.UserDaoImpl"/>
    <bean id="CategoryDao" class="impl.CategoryDaoImpl"/>
    <bean id="CategoryService" class="impl.CategoryServiceImpl"/>
    <bean id="ProductService" class="impl.ProductServiceImpl"/>
</beans>